.hero{
    position:relative;
    height:100vh;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url("assets/images/HEROTAPISTRY.jpeg");
    background-size:cover;
    background-position:center;
}
